* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: fill-available;
  scroll-behavior: smooth;
}

body {
  min-height: fill-available;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

