$--bg-square: var(--bg-square);

.homepage-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c0c0c073;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    color: #333;

    @include breakpoint(md) {
        width: unset;
        padding: 0 15px;
    }
    
    &:hover {
        background-color: #c0c0c02e;
    }

  &__color {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background: $--bg-square;
  }
}
